name: CMake

on: [push]

env:
  BUILD_TYPE: Debug
  SOURCE_DIRECTORY: ${{ github.workspace }}
  BUILD_DIRECTORY: ${{ format('{0}/{1}', github.workspace, 'build') }}

jobs:
  build:
    runs-on: ubuntu-latest
      
    steps:
    - uses: actions/checkout@v2

    # - name: Create Build Environment
    #   run: cmake -E make_directory $BUILD_DIRECTORY

    - name: Create Build Directory
      shell: bash
      run: mkdir build && ls -al && pwd

    - name: Configure CMake
      shell: bash
      run: cmake $GITHUB_WORKSPACE -DBUILD_TESTING=On -DBUILD_EXAMPLE=On -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      shell: bash
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      shell: bash
      run: ctest -C $BUILD_TYPE
      
    - name: Code Coverage
      shell: bash
      run: sudo apt-get install gcovr && make GenerateCoverage && cat Coverage.xml

    - name: Upload Code Coverage Reports to CodeCov.io
      uses: codecov/codecov-action@v1.0.13
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: $GITHUB_WORKSPACE/build
        flags: unittests
        name: LinkedList
